.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
.cursor
.idea
.vscode
.nova
.zed

node_modules
vendor

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

docs
demo-video
*.md
!README.md

docker-compose.yml
docker-compose.override.yml
